@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
    
*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(90deg, #003b3f, #00d4db);
    font-family:'Poppins', sans-serif;
    background-repeat: no-repeat;
}
.nav{
display: flex;
justify-content: center;
align-items: flex-end;
justify-content: space-between;
background-color: #ffffff;

}
.user .fa{
    color: #00373b;
    margin-left: 20px;
}

#Log{
    text-transform: lowercase;
    font-weight: 600;
    color: #e6fdff;
    margin: 20px;
    background-color: #00373b;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}
ul{
list-style: none;
display: flex;
flex-direction: row;
margin-right: 10px;
word-spacing: 10px;
padding-right: 10px;
/* justify-content: flex-end; */

}
li{
    margin: 10px;
    color: #00373b;
    font-weight: 500;
    cursor: pointer;
}
li i{
    margin-right: 6px;
    color: #009185;
}
h1{
    background: linear-gradient(45deg, #01ffc8, #005457);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    /* color: rgb(1, 29, 25); */
    font-size: 70px;

}
h1 sub{
    font-size:medium;
    margin: 0;
    padding: 0;
    color: #003b3f;
}
.container{
    display: flex;
    height: 140px;
    width: 100%;
    background: linear-gradient(90deg, #ffffff, #befdff);
    display: flex;
    /* border-bottom-left-radius: 29px 78px  ; */
    /* border-bottom-right-radius:79px 28px  ; */
    align-items: center;
    justify-content: center;
}
.first{
    display: flex;
    align-items: center;
    justify-content: center;
}
.body{
    display: flex;
    flex-direction: row;
    /* margin-top: 10px; */
    justify-content: center;
    margin: 10px;
}
.parta{
    background-image:linear-gradient(90deg, #00ffeac5, #07f37d00), url("Point of sale payment system illustration.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 270px;
    width:40%;
    /* margin: 10px; */
    /* border-radius: 20px; */
}
.partb{
    background-color: white;
    height: 270px;
    width:50%;
    /* margin: 10px; */
    /* border-radius: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}
.in{
    font-size: x-large;
    align-self: flex-end;
    margin-right: 10%;
    margin-top: 30px;
}
.inner{
    color: #00373b;
    font-weight: 500;
    width: 75%;
    /* height: 89px; */
    font-weight: 500;
    margin: 30px;
    align-self: flex-end;
    font-size: 15px;
}
#check{
    /* justify-self: right; */
    align-self: flex-end;
    margin-bottom: 30px;
    margin-right: 30px;
    border-radius: 20px;
    background-color: #00373b;
    padding: 10px;
    width: fit-content;
    height: fit-content;
    color: #ffffff;
    font-weight: bold;
    border: none;
    outline: hidden;

}
#check:hover{
    background-color: #009185;
}

.container_2{
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}
.sec1{
    background-color: #ffffff;
    height: 320px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec2{
    background-image: linear-gradient(90deg, #16030300,#00f8d786), url("krick.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:320px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Concept{
    font-size: x-large;
    margin-top: 80px;
    margin-left: 20px;
    margin-bottom: 3px;
    align-self: flex-start;
}
.para1{
    color: #00373b;
    font-weight: 500;
    margin: 50px;
    align-self: center;
    /* justify-self: center; */
}
#check2{
  /* justify-self: right; */
  /* align-self: flex-end; */
  margin-top: 8px;
  /* margin-right: 30px; */
  border-radius: 20px;
  background-color: #00373b;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
  width: fit-content;
  height: fit-content;
  color: #ffffff;
  font-weight: bold;
  border: none;
  outline: hidden;
}
.general{
    display: flex;
    justify-content: center;
    align-items: center;
}
#conhid {
    width: 300px; /* Set the width of the alert box */
    /* height: 320px; */
    padding: 20px; /* Add padding for content inside the alert box */
    background-color: #fff; /* Set the background color of the alert box */
    box-shadow: 0px 73px 78px 0px rgba(1, 56, 40, 0.479); /* Apply a box shadow to create a pop-up effect */
    border-radius: 8px; /* Add rounded corners to the alert box */
    position: absolute; /* Position the alert box absolutely within its container */
    top: 50%; /* Position the alert box at the vertical center of its container */
    left: 50%; /* Position the alert box at the horizontal center of its container */
    transform: translate(-50%, -50%); /* Center the alert box using transform */
    z-index: 999; /* Set a high z-index to ensure the alert box appears on top of other elements */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
  }

  #conhid h2{
    color: #00373b;

  }
  #conhid p{
    color: #00373b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -1px;
    margin: 22px auto;
    font-weight: 500;
    width: 80%;
  }
  #conhid button{
    color: white;
    padding: 8px;
    background: linear-gradient(90deg, #00373b, #00d4db);
    border-radius: 20px;
    outline: hidden;
    border: none;
    cursor: pointer;
  }